html, body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

.bodydiv {
    position: relative;
    top: 500px;
    display: flex;
    justify-content: center;
  align-items: center;
  font-size: 16px;

}

body{
  background-image: url(back.jpg);

}

form {
  background: white;
  height: 50%;
  width: 40%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 7);
  font-family: lato;
  position: fixed;
  color: #333;
  border-radius: 10px;
}
form header {
  background: #f4c402;
  padding: 30px 20px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
form label span {
  color: #FF3838;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
form input {
  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;

}
form button {
  position: fixed;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: Tomato;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form button:hover {
  background: #ff5252;
}



.drop{
  position: relative;
  left: 20px;
  top: 10px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}